.googlefont{
    color: white;
    font-family: 'Mate SC', serif;
    
}
.heading{
    font-size: 35px;
}
.topblack{
    background-color: black;
}
.small{
    font-size: small;
}
  
  /* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.spacing{
    letter-spacing: 2px;
}
.spacing:hover{
    letter-spacing: 6px;
}